<style>
    /* Star fade animations */
    @keyframes starFadeIn {
        from {
            opacity: 0;
            transform: scale(0);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes starFadeOut {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0);
        }
    }

    .star-appear-sm {
        animation: starFadeIn 0.5s ease-out forwards;
    }

    .star-appear-md {
        animation: starFadeIn 0.5s ease-out forwards;
    }

    .star-appear-lg {
        animation: starFadeIn 0.5s ease-out forwards;
    }

    @media (max-width: 639px) {
        .star-appear-sm {
            animation: starFadeOut 0.3s ease-in forwards;
        }
    }

    @media (max-width: 767px) {
        .star-appear-md {
            animation: starFadeOut 0.3s ease-in forwards;
        }
    }

    @media (max-width: 1023px) {
        .star-appear-lg {
            animation: starFadeOut 0.3s ease-in forwards;
        }
    }

    .header-section::after {
        content: "";
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 1670px;
        height: 244px;
        background-image: url("/planet.svg");
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
        z-index: 1;
        pointer-events: none;
    }

    .static-star {
        background-image: url("/star.svg");
    }

    .star {
        background-image: url("/falling_star.svg");
    }

    .static-star:nth-child(6) {
        left: 10%;
        top: 15%;
        animation: twinkle1 3s ease-in-out infinite;
        animation-delay: 0s;
    }
    .static-star:nth-child(7) {
        left: 25%;
        top: 25%;
        animation: twinkle2 3.5s ease-in-out infinite;
        animation-delay: 0.5s;
    }
    .static-star:nth-child(8) {
        left: 40%;
        top: 10%;
        animation: twinkle3 2.8s ease-in-out infinite;
        animation-delay: 1s;
    }
    .static-star:nth-child(9) {
        left: 55%;
        top: 30%;
        animation: twinkle4 3.2s ease-in-out infinite;
        animation-delay: 1.5s;
    }
    .static-star:nth-child(10) {
        left: 70%;
        top: 20%;
        animation: twinkle5 2.5s ease-in-out infinite;
        animation-delay: 0.3s;
    }
    .static-star:nth-child(11) {
        left: 85%;
        top: 35%;
        animation: twinkle1 3.8s ease-in-out infinite;
        animation-delay: 0.8s;
    }
    .static-star:nth-child(12) {
        left: 15%;
        top: 45%;
        animation: twinkle2 3.3s ease-in-out infinite;
        animation-delay: 1.2s;
    }
    .static-star:nth-child(13) {
        left: 30%;
        top: 55%;
        animation: twinkle3 2.9s ease-in-out infinite;
        animation-delay: 1.7s;
    }
    .static-star:nth-child(14) {
        left: 50%;
        top: 50%;
        animation: twinkle4 3.1s ease-in-out infinite;
        animation-delay: 0.6s;
    }
    .static-star:nth-child(15) {
        left: 65%;
        top: 60%;
        animation: twinkle5 2.7s ease-in-out infinite;
        animation-delay: 1.4s;
    }
    .static-star:nth-child(16) {
        left: 80%;
        top: 50%;
        animation: twinkle1 3.4s ease-in-out infinite;
        animation-delay: 0.2s;
    }
    .static-star:nth-child(17) {
        left: 12%;
        top: 70%;
        animation: twinkle2 2.6s ease-in-out infinite;
        animation-delay: 1.9s;
    }
    .static-star:nth-child(18) {
        left: 28%;
        top: 75%;
        animation: twinkle3 3.6s ease-in-out infinite;
        animation-delay: 0.7s;
    }
    .static-star:nth-child(19) {
        left: 45%;
        top: 80%;
        animation: twinkle4 2.9s ease-in-out infinite;
        animation-delay: 1.3s;
    }
    .static-star:nth-child(20) {
        left: 60%;
        top: 85%;
        animation: twinkle5 3.7s ease-in-out infinite;
        animation-delay: 1.1s;
    }
    .static-star:nth-child(21) {
        left: 75%;
        top: 75%;
        animation: twinkle1 2.8s ease-in-out infinite;
        animation-delay: 0.4s;
    }
    .static-star:nth-child(22) {
        left: 90%;
        top: 80%;
        animation: twinkle2 3.2s ease-in-out infinite;
        animation-delay: 1.6s;
    }
    .static-star:nth-child(23) {
        left: 20%;
        top: 90%;
        animation: twinkle3 3.5s ease-in-out infinite;
        animation-delay: 0.9s;
    }
    .static-star:nth-child(24) {
        left: 52%;
        top: 95%;
        animation: twinkle4 2.7s ease-in-out infinite;
        animation-delay: 1.8s;
    }
    .static-star:nth-child(25) {
        left: 82%;
        top: 90%;
        animation: twinkle5 3.3s ease-in-out infinite;
        animation-delay: 0.1s;
    }
    .static-star:nth-child(26) {
        left: 5%;
        top: 12%;
        animation: twinkle1 3.1s ease-in-out infinite;
        animation-delay: 0.5s;
    }
    .static-star:nth-child(27) {
        left: 35%;
        top: 8%;
        animation: twinkle2 2.9s ease-in-out infinite;
        animation-delay: 1.1s;
    }
    .static-star:nth-child(28) {
        left: 62%;
        top: 18%;
        animation: twinkle3 3.4s ease-in-out infinite;
        animation-delay: 0.7s;
    }
    .static-star:nth-child(29) {
        left: 78%;
        top: 28%;
        animation: twinkle4 2.8s ease-in-out infinite;
        animation-delay: 1.5s;
    }
    .static-star:nth-child(30) {
        left: 92%;
        top: 15%;
        animation: twinkle5 3.2s ease-in-out infinite;
        animation-delay: 0.3s;
    }
    .static-star:nth-child(31) {
        left: 8%;
        top: 38%;
        animation: twinkle1 2.7s ease-in-out infinite;
        animation-delay: 1.8s;
    }
    .static-star:nth-child(32) {
        left: 22%;
        top: 48%;
        animation: twinkle2 3.5s ease-in-out infinite;
        animation-delay: 0.9s;
    }
    .static-star:nth-child(33) {
        left: 48%;
        top: 42%;
        animation: twinkle3 3s ease-in-out infinite;
        animation-delay: 1.3s;
    }
    .static-star:nth-child(34) {
        left: 72%;
        top: 55%;
        animation: twinkle4 2.6s ease-in-out infinite;
        animation-delay: 0.6s;
    }
    .static-star:nth-child(35) {
        left: 88%;
        top: 45%;
        animation: twinkle5 3.3s ease-in-out infinite;
        animation-delay: 1.4s;
    }
    .static-star:nth-child(36) {
        left: 18%;
        top: 62%;
        animation: twinkle1 2.9s ease-in-out infinite;
        animation-delay: 0.8s;
    }
    .static-star:nth-child(37) {
        left: 38%;
        top: 68%;
        animation: twinkle2 3.1s ease-in-out infinite;
        animation-delay: 1.6s;
    }
    .static-star:nth-child(38) {
        left: 58%;
        top: 72%;
        animation: twinkle3 2.8s ease-in-out infinite;
        animation-delay: 1s;
    }
    .static-star:nth-child(39) {
        left: 68%;
        top: 65%;
        animation: twinkle4 3.4s ease-in-out infinite;
        animation-delay: 0.4s;
    }
    .static-star:nth-child(40) {
        left: 95%;
        top: 70%;
        animation: twinkle5 2.7s ease-in-out infinite;
        animation-delay: 1.7s;
    }

    @keyframes twinkle1 {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.3;
        }
    }

    @keyframes twinkle2 {
        0%,
        100% {
            opacity: 1;
        }
        45% {
            opacity: 0.2;
        }
    }

    @keyframes twinkle3 {
        0%,
        100% {
            opacity: 1;
        }
        55% {
            opacity: 0.4;
        }
    }

    @keyframes twinkle4 {
        0%,
        100% {
            opacity: 1;
        }
        48% {
            opacity: 0.25;
        }
    }

    @keyframes twinkle5 {
        0%,
        100% {
            opacity: 1;
        }
        52% {
            opacity: 0.35;
        }
    }

    .star:nth-child(1) {
        top: -80px;
        left: 20%;
        width: 80px;
        height: 83px;
        animation: shooting1 3s linear infinite;
        animation-delay: 0s;
    }

    .star:nth-child(2) {
        top: -120px;
        left: 50%;
        width: 120px;
        height: 124px;
        animation: shooting2 5s linear infinite;
        animation-delay: 8s;
    }

    .star:nth-child(3) {
        top: -60px;
        left: 70%;
        width: 60px;
        height: 62px;
        animation: shooting3 3.5s linear infinite;
        animation-delay: 15s;
    }

    .star:nth-child(4) {
        top: -100px;
        left: 35%;
        width: 95px;
        height: 98px;
        animation: shooting4 4.5s linear infinite;
        animation-delay: 4s;
    }

    .star:nth-child(5) {
        top: -70px;
        left: 85%;
        width: 70px;
        height: 72px;
        animation: shooting5 4s linear infinite;
        animation-delay: 12s;
    }

    @keyframes shooting1 {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: translate(-280px, 280px);
            opacity: 0;
        }
    }

    @keyframes shooting2 {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: translate(-450px, 450px);
            opacity: 0;
        }
    }

    @keyframes shooting3 {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: translate(-260px, 260px);
            opacity: 0;
        }
    }

    @keyframes shooting4 {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: translate(-380px, 380px);
            opacity: 0;
        }
    }

    @keyframes shooting5 {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: translate(-320px, 320px);
            opacity: 0;
        }
    }

    /* Disable animations for users who prefer reduced motion */
    @media (prefers-reduced-motion: reduce) {
        .star {
            animation: none !important;
            position: absolute;
        }

        /* Position shooting stars statically along their trajectory - pointing downwards */
        .star:nth-child(1) {
            top: calc(-80px + 180px);
            left: calc(20% - 180px);
            transform: rotate(0deg);
            opacity: 0.7 !important;
        }

        .star:nth-child(2) {
            top: calc(-120px + 300px);
            left: calc(50% - 300px);
            transform: rotate(0deg);
            opacity: 0.9 !important;
        }

        .star:nth-child(3) {
            top: calc(-60px + 100px);
            left: calc(70% - 100px);
            transform: rotate(0deg);
            opacity: 0.6 !important;
        }

        .star:nth-child(4) {
            top: calc(-100px + 240px);
            left: calc(35% - 240px);
            transform: rotate(0deg);
            opacity: 0.8 !important;
        }

        .star:nth-child(5) {
            top: calc(-70px + 200px);
            left: calc(85% - 200px);
            transform: rotate(0deg);
            opacity: 0.75 !important;
        }

        .static-star {
            animation: none !important;
        }

        /* Vary static star opacity */
        .static-star:nth-child(6) {
            opacity: 0.9 !important;
        }
        .static-star:nth-child(7) {
            opacity: 0.7 !important;
        }
        .static-star:nth-child(8) {
            opacity: 1 !important;
        }
        .static-star:nth-child(9) {
            opacity: 0.6 !important;
        }
        .static-star:nth-child(10) {
            opacity: 0.8 !important;
        }
        .static-star:nth-child(11) {
            opacity: 0.85 !important;
        }
        .static-star:nth-child(12) {
            opacity: 0.75 !important;
        }
        .static-star:nth-child(13) {
            opacity: 0.95 !important;
        }
        .static-star:nth-child(14) {
            opacity: 0.65 !important;
        }
        .static-star:nth-child(15) {
            opacity: 0.9 !important;
        }
        .static-star:nth-child(16) {
            opacity: 0.7 !important;
        }
        .static-star:nth-child(17) {
            opacity: 1 !important;
        }
        .static-star:nth-child(18) {
            opacity: 0.8 !important;
        }
        .static-star:nth-child(19) {
            opacity: 0.85 !important;
        }
        .static-star:nth-child(20) {
            opacity: 0.6 !important;
        }
        .static-star:nth-child(21) {
            opacity: 0.95 !important;
        }
        .static-star:nth-child(22) {
            opacity: 0.75 !important;
        }
        .static-star:nth-child(23) {
            opacity: 0.9 !important;
        }
        .static-star:nth-child(24) {
            opacity: 0.7 !important;
        }
        .static-star:nth-child(25) {
            opacity: 0.85 !important;
        }
        .static-star:nth-child(26) {
            opacity: 0.8 !important;
        }
        .static-star:nth-child(27) {
            opacity: 0.65 !important;
        }
        .static-star:nth-child(28) {
            opacity: 1 !important;
        }
        .static-star:nth-child(29) {
            opacity: 0.75 !important;
        }
        .static-star:nth-child(30) {
            opacity: 0.9 !important;
        }
        .static-star:nth-child(31) {
            opacity: 0.7 !important;
        }
        .static-star:nth-child(32) {
            opacity: 0.85 !important;
        }
        .static-star:nth-child(33) {
            opacity: 0.95 !important;
        }
        .static-star:nth-child(34) {
            opacity: 0.6 !important;
        }
        .static-star:nth-child(35) {
            opacity: 0.8 !important;
        }
        .static-star:nth-child(36) {
            opacity: 0.9 !important;
        }
        .static-star:nth-child(37) {
            opacity: 0.75 !important;
        }
        .static-star:nth-child(38) {
            opacity: 0.65 !important;
        }
        .static-star:nth-child(39) {
            opacity: 1 !important;
        }
        .static-star:nth-child(40) {
            opacity: 0.85 !important;
        }
    }

    /* Debug mode: Add ?debug-reduced-motion to URL to test reduced motion styles */
    .debug-reduced-motion .star {
        animation: none !important;
        position: absolute;
    }

    .debug-reduced-motion .star:nth-child(1) {
        top: calc(-80px + 180px);
        left: calc(20% - 180px);
        transform: rotate(0deg);
        opacity: 0.7 !important;
    }

    .debug-reduced-motion .star:nth-child(2) {
        top: calc(-120px + 300px);
        left: calc(50% - 300px);
        transform: rotate(0deg);
        opacity: 0.9 !important;
    }

    .debug-reduced-motion .star:nth-child(3) {
        top: calc(-60px + 100px);
        left: calc(70% - 100px);
        transform: rotate(0deg);
        opacity: 0.6 !important;
    }

    .debug-reduced-motion .star:nth-child(4) {
        top: calc(-100px + 240px);
        left: calc(35% - 240px);
        transform: rotate(0deg);
        opacity: 0.8 !important;
    }

    .debug-reduced-motion .star:nth-child(5) {
        top: calc(-70px + 200px);
        left: calc(85% - 200px);
        transform: rotate(0deg);
        opacity: 0.75 !important;
    }

    .debug-reduced-motion .static-star {
        animation: none !important;
    }

    /* Vary static star opacity in debug mode */
    .debug-reduced-motion .static-star:nth-child(6) {
        opacity: 0.9 !important;
    }
    .debug-reduced-motion .static-star:nth-child(7) {
        opacity: 0.7 !important;
    }
    .debug-reduced-motion .static-star:nth-child(8) {
        opacity: 1 !important;
    }
    .debug-reduced-motion .static-star:nth-child(9) {
        opacity: 0.6 !important;
    }
    .debug-reduced-motion .static-star:nth-child(10) {
        opacity: 0.8 !important;
    }
    .debug-reduced-motion .static-star:nth-child(11) {
        opacity: 0.85 !important;
    }
    .debug-reduced-motion .static-star:nth-child(12) {
        opacity: 0.75 !important;
    }
    .debug-reduced-motion .static-star:nth-child(13) {
        opacity: 0.95 !important;
    }
    .debug-reduced-motion .static-star:nth-child(14) {
        opacity: 0.65 !important;
    }
    .debug-reduced-motion .static-star:nth-child(15) {
        opacity: 0.9 !important;
    }
    .debug-reduced-motion .static-star:nth-child(16) {
        opacity: 0.7 !important;
    }
    .debug-reduced-motion .static-star:nth-child(17) {
        opacity: 1 !important;
    }
    .debug-reduced-motion .static-star:nth-child(18) {
        opacity: 0.8 !important;
    }
    .debug-reduced-motion .static-star:nth-child(19) {
        opacity: 0.85 !important;
    }
    .debug-reduced-motion .static-star:nth-child(20) {
        opacity: 0.6 !important;
    }
    .debug-reduced-motion .static-star:nth-child(21) {
        opacity: 0.95 !important;
    }
    .debug-reduced-motion .static-star:nth-child(22) {
        opacity: 0.75 !important;
    }
    .debug-reduced-motion .static-star:nth-child(23) {
        opacity: 0.9 !important;
    }
    .debug-reduced-motion .static-star:nth-child(24) {
        opacity: 0.7 !important;
    }
    .debug-reduced-motion .static-star:nth-child(25) {
        opacity: 0.85 !important;
    }
    .debug-reduced-motion .static-star:nth-child(26) {
        opacity: 0.8 !important;
    }
    .debug-reduced-motion .static-star:nth-child(27) {
        opacity: 0.65 !important;
    }
    .debug-reduced-motion .static-star:nth-child(28) {
        opacity: 1 !important;
    }
    .debug-reduced-motion .static-star:nth-child(29) {
        opacity: 0.75 !important;
    }
    .debug-reduced-motion .static-star:nth-child(30) {
        opacity: 0.9 !important;
    }
    .debug-reduced-motion .static-star:nth-child(31) {
        opacity: 0.7 !important;
    }
    .debug-reduced-motion .static-star:nth-child(32) {
        opacity: 0.85 !important;
    }
    .debug-reduced-motion .static-star:nth-child(33) {
        opacity: 0.95 !important;
    }
    .debug-reduced-motion .static-star:nth-child(34) {
        opacity: 0.6 !important;
    }
    .debug-reduced-motion .static-star:nth-child(35) {
        opacity: 0.8 !important;
    }
    .debug-reduced-motion .static-star:nth-child(36) {
        opacity: 0.9 !important;
    }
    .debug-reduced-motion .static-star:nth-child(37) {
        opacity: 0.75 !important;
    }
    .debug-reduced-motion .static-star:nth-child(38) {
        opacity: 0.65 !important;
    }
    .debug-reduced-motion .static-star:nth-child(39) {
        opacity: 1 !important;
    }
    .debug-reduced-motion .static-star:nth-child(40) {
        opacity: 0.85 !important;
    }
</style>

<script>
    // Randomize falling star positions and static star twinkling
    if (typeof window !== "undefined") {
        document.addEventListener("DOMContentLoaded", () => {
            const header = document.querySelector(".header-section");
            if (!header) return;

            // ===== FALLING STAR CONFIGURATION =====
            const FALLING_STAR_CONFIG = {
                // Spread distance - vertical range where stars can start (pixels)
                // Stars will start between -200px and (-200 + spreadDistance)px
                spreadDistance: 300, // Higher = more vertical variation in starting positions

                // Frequency - total seconds to distribute all stars within
                // Stars will be evenly spaced across this time window
                frequency: 20, // Higher = more time between stars, Lower = stars closer together
            };

            // Randomize falling star starting positions
            const fallingStars = header.querySelectorAll(
                ".star:not(.static-star)",
            );

            // Shuffle stars so they don't appear in DOM order
            const starArray = Array.from(fallingStars) as HTMLElement[];
            const shuffledStars = starArray.sort(() => Math.random() - 0.5);

            shuffledStars.forEach((star, index) => {
                // Random horizontal position across full width
                const left = Math.random() * 100;

                // Random vertical position based on spread distance
                const top =
                    -200 + Math.random() * FALLING_STAR_CONFIG.spreadDistance;

                // Evenly distribute stars across the frequency window
                // Each star gets its own time slot with small random variation
                const timeSlot =
                    (FALLING_STAR_CONFIG.frequency / shuffledStars.length) *
                    index;
                const randomVariation =
                    (Math.random() - 0.5) *
                    (FALLING_STAR_CONFIG.frequency / shuffledStars.length) *
                    0.4;
                const delay = timeSlot + randomVariation;

                star.style.left = `${left}%`;
                star.style.top = `${top}px`;
                star.style.animationDelay = `${delay}s`;
            });

            // Randomize static star twinkle animation and size
            const staticStars = Array.from(
                header.querySelectorAll(".static-star"),
            ) as HTMLElement[];
            staticStars.forEach((star) => {
                const duration = 2.5 + Math.random() * 1.5; // 2.5-4s
                const delay = -(Math.random() * 4); // Negative delay to start at random point in cycle
                const twinkleType = Math.floor(Math.random() * 5) + 1; // 1-5
                const scale = 1 + Math.random() * 0.3; // 1.0-1.3x size
                star.style.animationDuration = `${duration}s`;
                star.style.animationDelay = `${delay}s`;
                star.style.animationName = `twinkle${twinkleType}`;
                star.style.transform = `scale(${scale})`;
            });
        });
    }
</script>

<script>
    // Debug mode for testing reduced motion styles
    if (typeof window !== "undefined") {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has("debug-reduced-motion")) {
            document.addEventListener("DOMContentLoaded", () => {
                const header = document.querySelector(".header-section");
                if (header) {
                    header.classList.add("debug-reduced-motion");
                    console.log("🎨 Debug: Reduced motion styles enabled");
                }
            });
        }
    }
</script>

<div
    class="-mx-8 -mt-8 mb-12 w-[calc(100%+4rem)] md:-mx-[calc(50vw-50%)] md:-mt-8 md:w-screen"
>
    <header
        class="header-section relative overflow-hidden bg-gradient-to-b from-black via-black to-[#3458d3] flex items-center"
        style="min-height: max(500px, 60vh); height: 80vh; max-height: 900px; padding: clamp(3rem, 8vh, 6rem) 0 clamp(4rem, 10vh, 8rem) 0;"
    >
        <div class="absolute inset-0 z-0 pointer-events-none overflow-hidden">
            <span class="star absolute opacity-0 bg-contain bg-no-repeat -z-10"
            ></span>
            <span class="star absolute opacity-0 bg-contain bg-no-repeat -z-10"
            ></span>
            <span class="star absolute opacity-0 bg-contain bg-no-repeat -z-10"
            ></span>
            <span class="star absolute opacity-0 bg-contain bg-no-repeat -z-10"
            ></span>
            <span class="star absolute opacity-0 bg-contain bg-no-repeat -z-10"
            ></span>
            <!-- Show 8 stars on mobile, 15 on sm, 25 on md, all 35 on lg+ -->
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden sm:block star-appear-sm"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden sm:block star-appear-sm"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden sm:block star-appear-sm"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden sm:block star-appear-sm"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden sm:block star-appear-sm"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden sm:block star-appear-sm"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden sm:block star-appear-sm"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden md:block star-appear-md"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
            <span
                class="static-star absolute w-[5px] h-[5px] bg-contain bg-no-repeat -z-10 hidden lg:block star-appear-lg"
            ></span>
        </div>
        <div
            class="relative z-20 mx-auto px-8 flex flex-col items-start text-white max-w-7xl"
        >
            <h1
                class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-extrabold tracking-tighter text-white font-stretch-semi-condensedcondensed"
            >
                @hectoday/http
            </h1>
            <p
                class="mt-6 sm:mt-8 text-base sm:text-lg md:text-xl lg:text-2xl text-gray-300 leading-relaxed max-w-3xl"
            >
                Every request has a path.<br />
                Hectoday HTTP chooses clarity over convenience.<br />
                Inbound request. Outbound response.<br />
                Nothing hidden. Nothing assumed.<br />
                From here, it makes sense.
            </p>
        </div>
    </header>
</div>
